Используйте эту тетрадку для работы с данными для покемонами

Файлы:
- pokemon.csv, основные данные о покемонах;
- egg_groups.csv, описание идентификаторов;
- abilities.csv, описание abilities.

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('ggplot')
%matplotlib inline

Загрузка данных из CSV-файла

In [8]:
data = pd.read_csv("data/Pokemons/pokemon.csv", na_values='""')

print(data.shape)

(663, 38)

Краткая статистика каждого столбца данных:

In [9]:
data.describe()

,id,generation_id,ndex,kdex,jdex,jdex_old,hdex,sdex,udex,type1_id,...,exp_yield,base_happiness,egg_group1_id,egg_group2_id,is_baby,baby_breed_item_id,hatch_counter,lvl_100_exp,pokemon_order,legacy_id
count,663.000000,663.000000,663.000000,151.000000,256.000000,251.000000,205.000000,218.000000,158.000000,663.000000,...,663.000000,663.000000,663.000000,175.000000,663.000000,9.000000,663.000000,6.630000e+02,663.000000,505.000000
mean,529.469080,3.045249,328.033183,76.000000,128.500000,126.000000,102.970732,106.500000,77.879747,8.761689,...,141.375566,66.033183,6.452489,7.908571,0.027149,280.111111,27.669683,1.053326e+06,333.441931,253.019802
std,1405.496343,1.480305,186.922901,43.734045,74.045031,72.601653,59.272874,60.730063,45.319581,4.785481,...,59.858184,19.112375,4.329735,3.586803,0.162641,27.624466,24.401434,1.686685e+05,193.035763,145.957973
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,...,20.000000,0.000000,1.000000,2.000000,0.000000,231.000000,5.000000,6.000000e+05,1.000000,1.000000
25%,166.500000,2.000000,166.500000,38.500000,64.750000,63.500000,52.000000,53.250000,39.250000,5.000000,...,83.000000,70.000000,3.000000,5.000000,0.000000,291.000000,20.000000,1.000000e+06,166.500000,127.000000
50%,332.000000,3.000000,332.000000,76.000000,128.500000,126.000000,103.000000,107.500000,77.500000,10.000000,...,145.000000,70.000000,5.000000,7.000000,0.000000,293.000000,20.000000,1.000000e+06,332.000000,253.000000
75%,497.500000,4.000000,487.000000,113.500000,192.250000,188.500000,154.000000,156.750000,116.750000,12.000000,...,187.500000,70.000000,10.000000,10.000000,0.000000,295.000000,25.000000,1.059860e+06,500.500000,379.000000
max,10018.000000,5.000000,649.000000,151.000000,256.000000,251.000000,202.000000,210.000000,155.000000,17.000000,...,390.000000,140.000000,15.000000,14.000000,1.000000,297.000000,120.000000,1.640000e+06,667.000000,505.000000

Посмотрите начало таблицы с данными

# Графики

Попробуйте использовать следующие функции для рисования

`
plt.scatter
plt.plot
plt.pairplot
plt.hist
plt.bar
`

##  Поколения покемонов

## Параметры покемонов-детей

## Сила покемонов

## Что можно узнать из `egg_group`?

## Что можно увидеть в `abilities.csv`?